---

import '../components/GlobalStyles.astro'
import Footer from '../components/Footer';
import Consulta from '../components/Consulta.astro';
import Hero from '../components/Hero';

---


<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Cinthia Nadim Juarez</title>
		<meta name="description" content="Terapia Psicológica" />
	</head>
	<body>
		<Hero client:load />
		<Consulta/>
		<Footer/>
	</body>
</html>
<style>
	html{
		scroll-behavior: smooth;
	}
</style>
