---
import H2 from '../components/h2.astro';
import Layout from '../layouts/Layout.astro';
import '../components/GlobalStyles.astro'
import Divider from '../components/Divider.astro';

---


<Layout title="Preguntas Frecuentes">
  <main class="bg-secondary pb-[100px] md:pb-[200px]  relative ">

    <H2 title="Preguntas Frecuentes"/>

    <h3 class="text-[21px] text-primary font-sans font-semibold w-[90%] mx-auto leading-7 mb-2 lg:w-[700px] text-start">¿Tengo que abonar todo el tratamiento de una vez?</h3>
    <p>No, ofrecemos la primera consulta bonificada y si desea comenzar tratamiento o contar con nuestros servicios se estipula un precio por cada sesión, las cuales deberán ser abonadas de manera previa o el día de su realización, según el turno asignado.
    </p>
     <br>

     <h3 class="text-[21px] text-primary font-sans font-semibold w-[90%] mx-auto leading-7 mb-2 lg:w-[700px] text-start ">¿Puedo interrumpir las sesiones sin costo?</h3>
     <p>Objetivamente, sí. Parte del tratamiento es el compromiso de ambas partes (psicólogo-paciente) para que se puedan llevar adelante las etapas que lo componen. En caso de no querer continuar con su desarrollo, se informa al profesional tratante que ya no desea continuar, con la debida antelación necesaria para evitar ocasionar inconvenientes.</p>
     <br>
     
     <h3 class="text-[21px] text-primary font-sans font-semibold w-[90%] mx-auto leading-7 mb-2 lg:w-[700px] text-start">¿Cuánto dura cada sesión? </h3>
     <p>Cada sesión tiene una duración aproximada de 45 a 60 minutos. </p>
     <br>

     <h3 class="text-[21px] text-primary font-sans font-semibold w-[90%] mx-auto leading-7 mb-2 lg:w-[700px] text-start">
      ¿Cuáles son los tipos de trastornos de ansiedad que existen?</h3>
     <p>Existen diferentes tipos de trastornos de ansiedad, como ser las fobias, pánico, trastorno obsesivo compulsivo, ansiedad generalizada, entre otros. Ante la creencia de estar padeciendo ansiedad o sufrir algún tipo de trastorno, no realice autodiagnósticos. Recurra a un profesional diplomado, el cual evaluara su caso de manera profesional.</p>
     <br>

     
     <h3 class="text-[21px] text-primary font-sans font-semibold w-[90%] mx-auto leading-7 mb-2 lg:w-[700px] text-start">¿Cuándo debo recurrir a un psicólogo?
    </h3>
     <p>Cuando sufriste una pérdida significativa, cambios repentinos en tu vida, duelos físicos o simbólicos, perdida de motivación o ganas de vivir. O simplemente cuando sientas encontrarte en situaciones de malestar o problemáticas y no puedas resolverlo por sí solo.</p>
     <br>
     <p>También en casos específicos donde buscas orientación e información sobre algún tema particular.</p>
     <br>
     <p>Estos son una de los motivos por lo que puedes recurrir a un profesional pero no los únicos, ya que debes tener en cuenta que cuidar nuestra salud mental es importante ya que es la responsable de darnos bienestar y equilibrio emocional.</p>
     <br>

     <h3 class="text-[21px] text-primary font-sans font-semibold w-[90%] mx-auto leading-7 mb-2 lg:w-[700px] text-start">¿Cuáles son los beneficios de la terapia psicológica?</h3>
    <ul class="w-[85%] text-[18px] mx-auto max-w-[700px]">
      <li class="text-primary list-disc lg:ml-[20px]"> Ayuda a cambiar creencias erróneas o limitantes.
      </li>
      <li class="text-primary list-disc lg:ml-[20px] ">Brinda herramientas para poder sobrellevar mejor los conflictos</li>
      <li class="text-primary list-disc lg:ml-[20px]">Aumenta tu autoestima y seguridad.</li>
      <li class="text-primary list-disc lg:ml-[20px]">Ayuda a superar duelos sufridos, ya sea por perdida (muerte) o rupturas de pareja.</li>
      <li class="text-primary list-disc lg:ml-[20px]">Mejora tus relaciones interpersonales y habilidades sociales.</li>
      <li class="text-primary list-disc lg:ml-[20px]">Ayuda a cumplir tus objetivos.</li>
      <li class="text-primary list-disc lg:ml-[20px]">Mejora el desarrollo de proyectos personales.</li>
      <li class="text-primary list-disc lg:ml-[20px]">Contribuye a un estado de ánimo favorable.</li>
      <li class="text-primary list-disc lg:ml-[20px]">Permite conocerte a fondo, reconocer tus potencialidades y debilidades y tener un crecimiento personal y aceptación de tu persona.
      </li>
    </ul>

     <Divider/>
  </main>
</Layout>