---
import H2 from '../components/h2.astro';
import Layout from '../layouts/Layout.astro';
import '../components/GlobalStyles.astro'
import Divider from '../components/Divider.astro';

---


<Layout title="Preguntas Frecuentes">
  <main class="bg-secondary pb-[100px] md:pb-[125px]  relative ">
    <H2 title="Preguntas Frecuentes"/>
    <h3 class="text-[20px] text-primary font-sans font-semibold mb-5 w-[90%] mx-auto leading-8">¿Tengo que abonar todo el tratamiento de una vez?</h3>
    <p>Los formación académica transitada más la praxis profesional desarrollada, motivaron mi pasión y preferencia por el método cognitivo conductual, lo cual determinó la realización de distintas capacitaciones y especializaciones sobre la implementación y aplicación de dicho método.</p>
     <br>
     <p>De manera resumida y escueta podemos decir que el modelo cognitivo conductual toma aportes de las ciencias médicas más prestigiosas, valiéndose de técnicas psicométricas de comprobada evidencia científica, las cuales brindan fiabilidad y eficiencia necesarias para su aplicación, con resultados positivos en el corto plazo, dependiendo de cada caso particular."</p>
     <br>
     <p>Básicamente el modelo cognitivo conductual está compuesto por tres fases:</p>
     <br>
     <h3 class="text-[30px] text-primary font-sans font-bold text-center mb-5">Fase de evaluación</h3>
     <p>Consiste en recoger la mayor cantidad de datos e información del paciente. Se compone de una anamnesis (conjunto de datos que se recogen en la historia clínica de un paciente con un objetivo diagnóstico) y una entrevista inicial semiestructurada con preguntas que tienen que ver con los datos personales y familiares del paciente, ocupación, antecedentes médicos y psicológicos, más una breve exploración sobre los aspectos fenomenológicos, emocionales, conductuales y cognitivos existentes al momento de la entrevista. Todo ello permitirá generar un plan de tratamiento y un posible diagnostico presuntivo, en algunos casos. También se utilizan algunos cuestionarios o técnicas psicológicas que posibilitan desarrollar un plan de tratamiento más acorde para el paciente.</p>
     <br>
     <h3 class="text-[30px] text-primary font-sans font-bold text-center mb-5">Fase de tratamiento</h3>
     <p>Consiste en la elaboración del plan de tratamiento inicial el cual responderá al proceso de evaluación descripto en la etapa anterior. En algunos casos, dicho tratamiento puede sufrir modificaciones durante su transcurso en respuesta a los recursos intelectuales, económicos, capacidad de aceptación, cambios evidenciados durante su desarrollo, o en base al compromiso observado por el paciente, su predisposición y constancia. Por ello, en esta fase es importante marcar un encuadre terapéutico basado en el secreto profesional, confidencialidad y la alianza terapéutica que se da entre el profesional y paciente, la cual se irá desarrollando y fortaleciendo a lo largo de las primeras sesiones. En otros casos (como enfermedades neurológicas o neurodegenerativas) se trabaja en la reducción o retroceso de los signos y síntomas que dichas enfermedades producen en el sujeto, buscando fundamentalmente brindar contención y apoyo psicológico en el área emocional y estimular las habilidades psicológicas básicas y superiores. En caso de adicciones, el tratamiento se orienta a cambiar la conducta compulsiva desde aquello que genera adicción hacia otra actividad que sea positiva.</p>
     <br>
     <h3 class="text-[30px] text-primary font-sans font-bold text-center mb-5">Fase de seguimiento</h3>
     <p class="marginBottomForDivider">Su importancia radica en brindar independencia al paciente, luego de haber trabajado sobre las herramientas terapéuticas necesarias para todos los objetivos que fueron planteados en el plan de tratamiento, las cuales le permitirán optimizar su desenvolvimiento en la vida diaria. En esta fase, el objetivo es confirmar que los procesos que el paciente ha desarrollado durante la terapia brindan sus resultados, los cuales se verán reflejados en la vida diaria del sujeto. Durante su transcurso, las sesiones se van fragmentando por periodos más largos entre una y otra, hasta poder llegar al punto de una alta terapéutica.</p>
     <br>
     <Divider/>
  </main>
</Layout>