---
import H2 from "./h2.astro";
import Divider from "./Divider.astro";
---

<main id="consulta" class="bg-secondary pb-[100px] md:pb-[175px]  relative ">
  <H2 title="Consulta"/>
  <p class="mb-3">Se brindan servicios profesionales orientados hacia lo siguiente:</p>
  <ul class="ml-5">
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Asesoramiento, entrenamiento personal, fortalecimiento de aptitudes para el perfilamiento en diferentes áreas que requieran condiciones
      especiales de ingreso (fuerzas de seguridad, policiales, profesiones específicas, centros educativos, etc.)</li>
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Contención psicológica, evaluación y diagnóstico psicológicos para adultos.</li>
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Asesoramiento para padres/madres y/o tutores de personas con discapacidad y/o enfermedades terminales que se encuentren en diferentes etapas de la misma (con o sin tratamiento).</li>
  </ul>
  <h3 class="text-secondary bg-primary text-[25px] font-sans font-bold w-[300px] mt-8 mb-10 mx-auto p-2 text-center  drop-shadow-3xl">¡PRIMERA CONSULTA BONIFICADA!</h3>
  <p>Es importante resaltar que los profesionales de la psicología no somos meros consejeros o asesores, sino que nuestra intervención responde a los años de formación profesional en la línea terapéutica que fuese (psicoanálisis, Gestalt, cognitivo, etc.), lo cual garantiza la selección y adopción del tratamiento adecuado según las características observadas en el paciente.</p>
  <p>Ahora bien, un tratamiento psicológico tiene como función brindar herramientas
    útiles para la vida diaria del sujeto, buscando reducir al máximo el malestar y/o
    problema evidenciado, a partir de su reconocimiento como tal y la asunción de la
    necesidad de realizar acciones tendientes a superarlo. Para ello, se aplican
    recursos terapéuticos aportados por corrientes psicológicas de reconocida
    excelencia científica, que justifican su utilización para cada caso concreto.</p>
  <h4 class="font-sans text-[25px] text-center text-primary mt-5 mb-4 mx-auto w-[80%] leading-9">Motivos de consulta mas recurrentes:</h4>
  <ul class=" ml-5">
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Trastornos de Ansiedad</li>
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Trastornos de Estado de ánimo</li>
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Trastornos Adaptativos</li>
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Duelos</li>
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Asesoramiento y orientación académica o laboral</li>
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Fobias</li>
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Trastornos de Personalidad</li>
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Consumo problemático de sustancias psicoactivas</li>
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Ludopatía</li>
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Enfermedades neurodegenerativas</li>
    <li class="text-primary w-[85%] text-[18px] mx-auto max-w-[700px] list-disc mb-2">Trastornos neurológicos</li>
  </ul>
   <Divider/>
</main>
<style>
  h3{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);;
  }
</style>